h1, h2, h3
{
	margin: 0 !important;
}

#header a.brand
{
	margin-left: 0 !important;
}

.filter-container [type="text"]
{
	width: 65% !important;
}

.by_task
{
	background-color: #fdfba7;
}

.grid-view table tr
{
	cursor: pointer;

}

/*.zoomShadow, .zoomPic
{
	left: 18% !important;
}

.zoomX
{
	left: 83% !important;
}*/

.player
{
	width: 240px;
	height: 100px;
}

.player-full
{
	width: 645px;
	height: 323px;
}

.cms_title
{
	height: 20px !important;
}

.cms_content
{
	height: 50px !important;
}

#tasks-form
{
	width: 69%;
}

.news_status
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;

}

.news_status_button input
{
	margin-right: 1%;
	margin-bottom: 1%;
}