/**
 * Cms module style
 * @project cms
 * @author Christoffer Niska <christoffer.niska@nordsoftware.com>
 * @copyright 2011, Nord Software Ltd
 * @license New BSD License
 * @cssdoc version 1.0-pre
 */

.cms .form-node,
.cms .form-content,
.cms .form-page-settings {
	margin-bottom: 20px;
}

.cms .node-page,
.cms.node-block {
	position: relative;
}

.cms .update-link {
	position: absolute;
	right: 5px;
	top: 5px;
}

.cms.node-block .update-link {
	padding: 3px 5px;
}

.cms .markItUp {
	width: 640px !important;
}

.cms .markItUpEditor {
	width: 628px !important;
}

.cms .pull-left {
	float: left;
}

.cms .pull-right {
	float: right;
}

.cms .tags {
	background-color: #eee;
	margin-top: 10px;
	padding: 20px;
	width: 600px;
}

.cms .tags ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*
	Blueprint style
*/

.cms.bp input[type="text"] {
	width: 300px;
}

.cms.bp textarea {
	width: 620px;
}

.cms.bp .ui-widget {
	font-size: inherit;
}

.cms.bp .cms-sidebar {
	padding: 20px;
}

.cms.bp .markItUp {
	width: 615px !important;
}

.cms.bp .markItUpEditor {
	width: 613px !important;
}

.cms.bp .tags {
	width: 585px;
}

/*
	Bootstrap theme style
*/

.cms.boot.column2 .cms-content {
	border-right: 1px solid #ccc;
}

.cms.boot .tags {
	margin-bottom: 0;
}

.cms.boot .grid-view {
	margin-bottom: 20px;
}

.cms.boot .actions {
	margin-bottom: 0;
}